<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Imports -->
    <link rel="stylesheet" href="app/assets/stylesheets/Login.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-form">

        <form action="" class="form">
            <h1 class="title-login">Welcome</h1>
            <input class="input input-email" id="input-email" type="email" placeholder="Ingrese email" required>
            <input class="input" id="input-password" type="password" placeholder="Ingrese password" required>
            <button class="button button-start" id="start">Ingresar</button>
            <div class="line">
                <hr>  <span> o </span> <hr>
            </div>
            <button class="button" id="register">Registrarse</button>
        </form>
    </div>
</body>
</html>
