<h1>Editar Tipo</h1>

<%= render "form", type: @type %>

<br>

<div>
  <%= link_to "Ver detalles del tipo", @type, class: 'btn btn-primary' %> |
  <%= link_to "Regresar al listado de tipos", types_path, class: 'btn btn-warning' %>
</div>
