<div id="<%= dom_id product %>">
  <p>
    <strong>Nombre:</strong>
    <%= product.nombre %>
  </p>

  <p>
    <strong>Id productable:</strong>
    <%= product.id_productable_id %>
  </p>
  
  <p>
    <strong>Descripcion:</strong>
    <%= product.descripcion %>
  </p>



</div>
